* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  padding: 60px;
  min-height: 100vh;
  background: #000089;
}

/* @font-face { */
/*   font-family: "Myfont"; */
/*   src: url("") */
/* } */

.weather-main {
  display: flex;
  height: 40px;
  position: relative;
  background: #000089;
}

.icon {
  position: absolute;
  /* margin-left: 100px; */
  /* margin-top: 50px; */
}

.unit {
  display: flex;
  position: absolute;
  width: 120px;
  height: 40px;
  right: 0;
  align-items: center;
  background: #405982;
  border-radius: 5px;
}

.unit p {
  margin-left: 5px;
  color: white;
}

.unit img {
  width: 18px;
  height: 20px;
  margin-left: 15px;
}

button {
  background: #405982;
  border: none;
}

.temp {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 45px;
  height: 350px;
  width: 180px;
  border-radius: 5px;
  background: #405982;
}

.temp.show {
  display: flex;
  position: absolute;
}

.hd {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 10px;
  width: 170px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background: #405982;
}

.temperature {
  display: flex;
  flex-direction: column;
}

.temperature h3 {
  top: 0;
}

.cel,
.fah {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 40px;
  padding: 0 15px;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  background: green;
}

.cel a,
.fah a {
  text-decoration: none;
  color: white;
  text-align: left;
  flex-grow: 1;
}

.cel img,
.fah img {
  display: none;
  width: 15px;
  height: 30px;
  flex-shrink: 0;
}

.cel.active img,
.fah.active img {
  display: block;
}

.wind {
  display: flex;
  flex-direction: column;
}

.km,
.mp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 40px;
  padding: 0 15px;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  background: green;
}

.km a,
.mp a {
  text-decoration: none;
  color: white;
}
