* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  padding: 60px;
  min-height: 100vh;
  background: #000089;
}

/* @font-face { */
/*   font-family: "Myfont"; */
/*   src: url("") */
/* } */

.weather-main {
  display: flex;
  height: 40px;
  position: relative;
  background: #000089;
}

.icon {
  position: absolute;
  /* margin-left: 100px; */
  /* margin-top: 50px; */
}

.unit {
  display: flex;
  position: absolute;
  width: 120px;
  height: 40px;
  right: 0;
  align-items: center;
  background: #405982;
  border-radius: 5px;
}

.unit p {
  margin-left: 5px;
  color: white;
}

.unit img {
  width: 18px;
  height: 20px;
  margin-left: 15px;
}

button {
  background: #405982;
  border: none;
}

.temp {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 45px;
  height: 150px;
  width: 180px;
  border-radius: 5px;
  background: #405982;
}

.temp.show {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.hd {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 170px;
  height: 30px;
  border-radius: 5px;
  background: white;
}

.temp a:hover {
  text-decoration: underline;
}
