* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  padding: 60px;
  min-height: 100vh;
  background: hsl(243, 96%, 9%);
}

/* @font-face { */
/*   font-family: "Myfont"; */
/*   src: url("") */
/* } */

.weather-main {
  display: flex;
  height: 40px;
  position: relative;
  background: hsl(243, 96%, 9%);
}

.icon {
  position: absolute;
  /* margin-left: 100px; */
  /* margin-top: 50px; */
}

.unit {
  display: flex;
  position: absolute;
  width: 120px;
  height: 40px;
  right: 0;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  background: hsl(243, 23%, 24%);
  transition: border-color 0.2s;
}

.unit:hover {
  border-color: hsl(20, 15%, 50%);
}

.unit p {
  margin-left: 5px;
  background: hsl(243, 23%, 24%);
}

.unit img {
  width: 18px;
  height: 20px;
  margin-left: 15px;
}

button {
  background: hsl(243, 23%, 24%);
  border: none;
}

.temp {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 45px;
  height: 350px;
  width: 190px;
  border-radius: 5px;
  background: hsl(243, 23%, 24%);
}

.temp.show {
  display: flex;
  position: absolute;
}

.hd {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 5px;
  width: 170px;
  height: 40px;
  border-radius: 7px;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  background: hsl(243, 23%, 35%);
}

.wind .precip .temperature {
  display: flex;
  flex-direction: column;
}

.temperature h3 {
  color: hsl(0, 0%, 100%);
}

.cel,
.fah {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 40px;
  padding: 0 15px;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  background: hsl(243, 23%, 24%);
}

.cel a,
.fah a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  text-align: left;
  flex-grow: 1;
}

/* .cel img, */
/* .fah img, */
/* .mili img, */
/* .inches img, */
/* .km img, */
/* .mp img { */
.option img {
  display: none;
  width: 15px;
  height: 30px;
  flex-shrink: 0;
}

/* .cel.active img, */
/* .fah.active img, */
/* .mili.active img, */
/* .inches.active img, */
/* .mk.active img, */
/* .mp.active img { */
.option.active img {
  display: block;
}

.km,
.mp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 40px;
  padding: 0 15px;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  background: hsl(243, 23%, 24%);
}

.km a,
.mp a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.mili,
.inches {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 40px;
  padding: 0 15px;
  border-radius: 6px;
  background: hsl(243, 23%, 24%);
  margin-bottom: 2px;
  cursor: pointer;
}

.mili a,
.inches a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
