* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  min-height: 100vh;
  background: #000089;
}

/* @font-face { */
/*   font-family: "Myfont"; */
/*   src: url("") */
/* } */

.weather-main {
  display: flex;
  height: 40px;
  gap: 1000px;
  background: #000089;
}

.icon {
  margin-left: 100px;
  margin-top: 50px;
}

.unit {
  display: flex;
  width: 120px;
  height: 40px;
  align-items: center;
  background: #405982;
  border-radius: 5px;
  margin-top: 70px;
}

.unit p {
  margin-left: 5px;
  color: white;
}

.unit img {
  width: 18px;
  height: 20px;
  margin-left: 15px;
}
