* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 350px;
  height: 450px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.profile {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: #333;
}

.title {
  color: #777;
  margin-bottom: 15px;
}

.links a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 9px;
  margin-top: 12px;
  border-radius: 30px;
}

.dark-version {
  background: #989990;
  color: white;
}
