* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: blue;
  padding: 1rem 2rem;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  flex: 1;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.main_card {
  background: #141111;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  padding-top: 30px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 30px;
  border-radius: 50px;
}

.main_card h1 {
  text-decoration: none;
  color: white;
  margin-bottom: 8px;
  font-weight: bold;
}

.main_card h3 {
  text-decoration: none;
  color: yellow;
  margin-bottom: 30px;
}

.main_card p {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.card_button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_button a:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
  background: #012010;
}

.card_button .Github {
  padding: 15px;
  background: #2b2828;
  border-radius: 8px;
  width: 300px;
  height: 40px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.card_button .Frontend {
  padding: 15px;
  background: #2b2828;
  border-radius: 8px;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.card_button .LinkedIn {
  padding: 15px;
  background: #2b2828;
  border-radius: 8px;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.card_button .Twiter {
  padding: 15px;
  background: #2b2828;
  border-radius: 8px;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.card_button .Instagram {
  padding: 15px;
  background: #2b2828;
  border-radius: 8px;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

footer {
  padding: 15px;
  background: blue;
}
