* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: green;
  padding: 1rem 2rem;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: yellow;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  background: #767689;
  justify-content: center;
  align-items: center;
}

.left {
  background: white;
  transition: 0.5s;
}

.left h2 {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

button {
  padding: 10px 20px;
  border-raduis: 20%;
}
