* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  background: green;
  padding: 1rem 2rem;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: yellow;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.left,
.right {
  flex: 1;
  height: 100%;
}

.left {
  background: #003423;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

article.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  background: white;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transfrom 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-front img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 30px;
}

.card-front h1 {
  margin-top: 30px;
  color: green;
}

.card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333120;
  transfrom: rotateY(180deg);
}

.card-back img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
}

/* .left h2 { */
/*   text-decoration: none; */
/*   font-weight: bold; */
/* } */

/* button { */
/*   background: yellow; */
/*   padding: 10px 20px; */
/*   font-weight: bold; */
/*   border-radius: 8px; */
/*   text-decoration: none; */
/* } */

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #199090;
}

footer {
  padding: 1rem 2rem;
  background: #879222;
}

footer p {
  text-decoration: none;
  font-weight: bold;
}
